* {
  font-size: 14px;
  font-family: 'Open Sans';

}

nav {
  border: 1px solid orange;
}

div {
  border: 1px solid blue;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* to specify Open Sans use this property:
font-family: 'Open Sans', sans-serif;
*/


@font-face {
  font-family: 'Monoton';
  font-style: normal;
  font-weight: 400;
  src: local('Monoton'), local('Monoton-Regular'), url(https://fonts.gstatic.com/s/monoton/v6/y6oxFxU60dYw9khW6q8jGw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

.container-fluid {
  background-color: white;
}

/* to specify Monoton use this property:
font-family: 'Monoton', cursive;
*/

/* Begin Navigation Section */
navbar {
  position: fixed;
  display: flex;
  width: 100%;
  flex-direction: row;

}

navbar .container-fluid {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  z-index: 50;
  background-color: white;
}

navbar .container {
  display: flex;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

navbar ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

navbar .navbar-default .navbar-nav > .active > a:hover {
  background-color: red;
  }



@media only screen and (max-width: 480px){
 nav img {
   display: none;
 }
}

/*End Navigation Section*/

/* Begin Banner Section */

.banner {
  display: flex;
  height: 70rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.jumbotron.jumbotron-bike {
  background-image: url("resources/images/jumbotron-bike.jpg");
  background-size: cover;
  background-repeat: no-repeat center center;
  height: 100%;
  width: 100%;
  background-color: orange;
}

.jumbotron.jumbotron-bike .container-fluid {
  margin-top: 2rem;
}

.jumbotron.jumbotron-bike p {
  text-shadow: 1px 1px 1px black;
}

.banner .quote {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 11.85rem;
  margin-bottom: 11.85rem;
  width: 51.3rem;
}

.banner .quote h1 {
  font-family: 'Monoton', cursive;
  font-size: 7.1rem;
  color: white;
  text-shadow: -1px -1px 0 #000;
}

/* End Banner Section */

/* projects section*/

.image-container img {
  opacity: 0.7;
}
